{% extends 'layout.html' %}
{% block body%}
<div class="form">
    <form action="{{url_for('schedule')}}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">TIME_FROM:</label>
                    <input id="timefrom" name="timefrom" class="form-control" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="">TIME_TO:</label>
                    <input id="timeto" name="timeto" class="form-control" required autocomplete="off">
                </div>
                <div class="form-group">

                    <label for="">Room:</label>
                    <select name="meetingroom" id="meetingroom" class="form-control">
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Description:</label>
                    <textarea class="form-control" rows="4"  name="meetingdescription" placeholder="Enter description"
                              required></textarea>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary" value="post room">Schedule Meeting</button>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

    </form>
</div>
    <script type="text/javascript">
$(function() {
    $("#timeto").change(function() {
        const time_from = $("#timefrom").val();
        const time_to = $(this).val();

        $.ajax(
            {
                url: `/lookup-rooms`,
                type: "GET",
                dataType: "json",
                data: {
                    time_from: time_from,
                    time_to: time_to
                }
            }).done(function(data) {
                $("#meetingroom").html("");// clear prepopulated rooms
                for (let ndx = 0; ndx < data.rooms.length; ndx++) {//loop thru api/request/query results
                    const item = data.rooms[ndx];
                    const option = document.createElement("option");
                    option.value = item["id"];
                    option.text = item["name"];
                    $("#meetingroom").append(option);
                }
            });
    });
});
</script>
{% endblock body %}
