
.background {
    background-image: url("../images/img2.jpg");

    /* Location of the image */
    /*background-image: url(images/background-photo.jpg);*/

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
}

.background .heading {
    color: #585353;
    text-align: center;
    padding-top: 310px;
}

.background p {
    text-align: center;
    padding: 20px 60px;
}

.background p .btn {
    background-color: transparent;
    color: white;
    /*border: 1px solid white;*/
    padding: 5px;
    font-size: 1.2em;
}

.background p .btn:hover {
    color: #0A1B1B;
    border-color: #C57ED3;
}


/*.page-container {*/
/*    position: relative;*/
/*    min-height: 100vh;*/
/*}*/

/*.content-wrap {*/
/*    padding-bottom: 2.5rem;*/
/*}*/

#footer {
    background: #f8f9fa !important;
    bottom: 0;
    left: 0;
    position: sticky;
    height: 60px;
    width: 100%;
}

section .section-title {
    text-align: center;
    color: #c1c1c1;
    margin-bottom: 50px;
    text-transform: uppercase;
}


#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #7c7c7d;
}

#footer a {
    color: #7c7c7d;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #7c7c7d;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.navbar {
  background-color: transparent;
  border: none;
  color: grey;
  z-index: 100;
  transition: background-color 1s ease 0s;
}
.navbar-default .navbar-brand {
	 margin-top: 10px;
	 color: grey;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}
.navbar.solid {
	 background-color: #490d40;
	 transition: background-color 1s ease 0s;
	 box-shadow: 0 0 4px grey;
}
 .navbar.solid .navbar-brand {
	 color: #c57ed3;
	 transition: color 1s ease 0s;
}
 .navbar.solid .navbar-nav > li > a {
	 color: #c57ed3;
	 transition: color 1s ease 0s;
}
