
.background {
    background-image: url("../images/img2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.background .heading {
    color: #ae3f15;
    text-align: center;
    padding-top: 310px;
}

.background p {
    text-align: center;
    padding: 20px 60px;
}

.background p .btn {
    background-color: transparent;
    color: #ae3f15;
    border: 1px solid #ae3f15;
    padding: 5px;
    font-size: 1.2em;
}

.background p .btn:hover {
    color: #0A1B1B;
    border-color: #C57ED3;
}

.footer-container a {
    color: #808080;

}
.navbar {
    background-color: transparent;
    border: none;
    color: #808080;
    z-index: 100;
    transition: background-color 1s ease 0s;
}


.navbar-toggler-icon {
    background-color: #d4ebeb;
}


.navbar-default .navbar-brand {
    margin-top: 10px;
    color: grey;
}

.navbar-light .navbar-nav .nav-link {
    color: #886969;
}

.navbar.solid {
    background-color: #490d40;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}

.navbar.solid .navbar-brand {
    color: #c57ed3;
    transition: color 1s ease 0s;
}

.navbar.solid .navbar-nav > li > a {
    color: #c57ed3;
    transition: color 1s ease 0s;
}
